wheel
Brotli
certifi
chardet
click
dash
Flask
Flask-Compress
future
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
numpy>=1.17.4
pandas
Pillow
plotly
python-dateutil
pytz
requests
retrying
six
urllib3
Werkzeug
